html {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
body {
  margin: 0px;
  color: rgb(34, 38, 40);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  background-color: rgb(240, 242, 244);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.css_qpa126 {
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}
.css_dmeihm {
  background-color: rgb(255, 255, 255);
}
main {
  display: block;
}

.css_1t5i1n4 {
  padding-top: 24px;
}

.css_dw3q30 {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
}
.css_dw3q30 > .MuiGrid_item {
  max-width: none;
}
.css_10r4g2f {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  padding-bottom: 32px;
}

.span1 {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  inset: 0px;
}

.img1 {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.css_ak8is5 {
  margin: 0px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.15;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_1wxaqej {
  box-sizing: border-box;
  margin: 0;
  flex-direction: row;
}

.css_1gpft47 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 2px solid transparent;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 102, 238);
  width: 100%;
  border-radius: 4px;
  padding: 8px 20px;
  box-shadow: none;
  letter-spacing: 0.015625rem;
}
.css_b9fb38 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

/* 



*/

/* section no.2 */
form {
  display: block;
  margin-top: 0em;
}

.css_1wkwmmc {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
}

.css_bwtxxq {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  margin-bottom: 0.35em;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_1nvizyd {
  display: inline-flex;
  border-radius: 4px;
  flex-direction: column;
  min-width: 200px;
}

.css_1nvizyd .MuiToggleButtonGroup_grouped:not(:last-of-type) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.css_1b72681 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  border: 1px solid #dee1e7;
  color: #222628;
  text-transform: none;
  border-width: 2px;
  border-radius: 4px;
  border-color: #dee1e7;
  margin: 2px 0px;
  border-style: solid;
  background-color: #ffffff;
  padding: 14px;
}

.css_1b72681 .MuiTypography_body1 {
  color: #222628;
  font-weight: 400;
}

.MuiToggleButton_standard:focus {
  border: 2px solid rgb(0, 102, 238);
}

.css_17pbj4j {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}

.css_1y4j5le {
  display: flex;
  justify-content: space-between;
}
.css_1215evx {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border: 2px solid rgb(0, 102, 238);
  color: rgb(0, 102, 238);
  border-radius: 4px;
  padding: 8px 20px;
  letter-spacing: 0.015625rem;
}
.css_1q2wf90 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  margin: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #fff;
  background-color: #0066ee;
  width: 100%;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

/* 



*/

/* section3 ka csss */

.css_1m7nlmx > .MuiGrid_item {
  padding-left: 32px;
  padding-top: 32px;
  max-width: none;
}
.css_1m7nlmx {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  margin-top: -32px;
  width: calc(100% + 32px);
  margin-left: -32px;
}

.css_1lytz60 {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}

.css_172n4b4 {
  margin: 0px 0px 0.35em;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_1fqwhl7 {
  margin: 0px;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}

.css_6474a7 {
  display: inline-flex;
  border-radius: 4px;
  flex-direction: column;
  min-width: 200px;
}

.css_1dl41vr {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  border: 2px solid rgb(222, 225, 231);
  text-transform: none;
  border-radius: 4px;
  margin: 2px 0px;
  padding: 14px;
  text-align: left;
  justify-content: left;
  background-color: white;
}

.css_6474a7 .MuiToggleButtonGroup_grouped:not(:last-of-type) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* .css_1dl41vr.Mui_selected {
  border-color: rgb(0, 102, 238);
  background-color: white;
  color: rgb(34, 38, 40);
} */
/* .css_1dl41vr.Mui_selected .MuiTypography_body1 {
  color: rgb(0, 102, 238);
  font-weight: 700;
} */

.css_1dl41vr .MuiTypography_body2 {
  color: rgb(109, 113, 122);
  font-weight: 400;
}
.css_1dl41vr.Mui_selected .MuiTypography_body2 {
  color: rgb(34, 38, 40);
}
.css_xq5ncm {
  margin: 0px;
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css-q9ysjp {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 0;
  background-color: rgb(222, 225, 231);
  border-radius: 12px 12px 0px 0px;
  height: 8px;
}
.section3 {
  width: 100%;
}
/* 



*/

/* section3 ka csss */

/* 



*/

/* section4 ka csss */

.css_4tr9mt {
  text-align: left;
  margin: 0px;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_18r8671 {
  display: flex;
  flex-flow: row wrap;
}
.css_1th7rei {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin-left: -11px;
  max-height: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 32px;
}
.css_wiurcy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  border-radius: 50%;
  color: rgb(109, 113, 122);
  padding: 8px;
}
.MuiBox_root {
  text-align: left;
}
.css_142gop6 {
  display: inline-flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-style: none;
  padding-left: 0px;
  cursor: pointer;
}
.css_1stmbwu {
  text-align: left;
  margin: 0px 0px 0px 8px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  color: rgb(0, 102, 238);
  display: inline;
}
.css_tuxzvu {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -8px;
  width: calc(100% + 8px);
  margin-left: -8px;
}

.css_tuxzvu > .MuiGrid_item {
  padding-left: 8px;
  padding-top: 8px;
}
.css_wpl0hm {
  box-sizing: border-box;
  margin: 12px 0px 0px;
  flex-direction: row;
  width: 100%;
}
.css_tzsjye {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
  width: 100%;
}
.css_5v3ygq {
  width: 170px;
}
.css_3etz74 {
  margin: 0px 0px 12px;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  text-align: center;
}

/* 



*/

/* section4 ka csss */

/* 



*/

/* section 5 ka csss */

.css_12dsom7 {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  margin-top: -20px;
  width: calc(100% + 20px);
  margin-left: -20px;
}

.css_12dsom7 > .MuiGrid_item {
  padding-left: 20px;
  padding-top: 20px;
  max-width: none;
}
.css_3o5yhq {
  margin: 0px 0px 0.35em;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  padding-bottom: 5px;
}
.css_1can3ro {
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
}
.css_toc561 {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 2px;
  vertical-align: top;
  opacity: 0.7;
  height: 64px;
}
.css_nhysvk.Mui_error {
  color: rgb(242, 38, 19);
}
.css_nhysvk {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  padding: 0px;
  display: block;
  transform-origin: left top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(14px, 16px) scale(1);
  transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms,
    max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
  color: rgb(34, 38, 40);
}
.css_yyj737 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  color: rgb(34, 38, 40);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding-right: 14px;
}
.css_106dx4m {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 0px 16.5px 14px;
}
.css_1ffzwmf {
  display: flex;
  height: 0.01em;
  max-height: 2em;
  align-items: center;
  white-space: nowrap;
  margin-left: 8px;
  color: #222628;
}
.css_17pbj4j {
  margin: 0px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_yyj737.Mui_error .MuiOutlinedInput_notchedOutline {
  border-color: rgb(242, 38, 19);
}
.css_igs3ac {
  text-align: left;
  position: absolute;
  inset: -5px 0px 0px;
  margin: 0px;
  padding: 0px 8px;
  pointer-events: none;
  border-radius: inherit;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  min-width: 0%;
}
.css_173wfxe {
  float: unset;
  display: block;
  width: auto;
  padding: 0px;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 0.01px;
  transition: max-width 50ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  white-space: nowrap;
}
.css_173wfxe > span {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}
.css_k38b6r {
  margin: 0px;
  color: rgb(242, 38, 19);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.css_1b47e06 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  border-radius: 0px;
  padding: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  color: inherit;
}
.css_1pufet8 {
  margin: 0px 0px 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  color: rgb(0, 102, 238);
}
.css_1tsy5de {
  margin: 0px 0px 0.35em;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 5px;
}
/* 



*/

/* section 6 ka csss */

/* 



*/

/* section 7 ka csss */

.css_1vi05hx {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  margin-top: -32px;
  width: calc(100% + 32px);
  margin-left: -32px;
}

.css_1vi05hx > .MuiGrid_item {
  padding-left: 32px;
  padding-top: 32px;
  max-width: none;
}
.css_1ojbn3v {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 2px;
  vertical-align: top;
  width: 100%;
  opacity: 0.7;
  height: 64px;
}

.css_1v3dwsv {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  color: rgb(34, 38, 40);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 4px;
}
.css_5v3ygq {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 16.5px 14px;
}

.css_5v3ygq {
  border: 2px solid rgb(34, 38, 40);
}

.css_1vi05hx > div:last-of-type {
  margin-top: 300px;
}

/* 



*/

/* section 7 ka csss */

.css-l8px71 {
  margin: 0px 0px 0.35em;
  font-weight: 700;
  line-height: 1.2;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
}
.css_1k70y2s {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  color: rgb(34, 38, 40);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.css_z2clho {
  margin: 0px 0px 8px;
  color: rgb(242, 38, 19);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.css_t7wqvm {
  margin: 0px 0px 0.35em;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}

.css_1307frf {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 16px;
}

.css_2al6ig {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  margin-right: 16px;
  max-height: 34px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: 0px;
}

.css_1o0bbnm {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 9px;
  border-radius: 50%;
  color: rgb(109, 113, 122);
}

.css_1kcxdgd {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.css_y3uz54 {
  margin: 0px;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.css_kb8a8y {
  margin: 12px 0px;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
.css_iziil0 {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(34, 38, 40);
  margin: 8px 0px;
}
.css_iziil0::before,
.css_iziil0::after {
  -webkit-box-flex: 1;
  flex-grow: 1;
  height: 1px;
  font-size: 0px;
  line-height: 0;
  margin: 0px 8px;
  content: "";
}
.css_stl828 {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 2px solid transparent;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  text-transform: uppercase;
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 4px;
  padding: 8px 20px;
  box-shadow: none;
  letter-spacing: 0.015625rem;
  background-color: rgb(66, 103, 178);
  text-indent: 20px;
}
.css_ushlfk {
  margin: 8px 0px 0px;
  color: rgb(109, 113, 122);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.css_1stans {
  margin: 12px 0px 0px;
  color: rgb(109, 113, 122);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
  line-height: 1.66;
}
.css_1z7n62 {
  float: unset;
  display: block;
  width: auto;
  padding: 0px;
  height: 11px;
  font-size: 0.75em;
  visibility: hidden;
  max-width: 100%;
  transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
  white-space: nowrap;
}

/* 



*/

/* section 7 ka csss */
@media (min-width: 0px) {
  .css_dmeihm {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .css_dw3q30 {
    min-height: 75vh;
  }
  .css_bwtxxq {
    text-align: left;
  }
  .css_1nvizyd {
    margin: 26px 0px 0px 0px;
  }
  .css_1y4j5le {
    bottom: 16px;
    left: 0;
    width: 100%;
  }
  .css_1215evx {
    max-width: 100%;
    margin-right: 4px;
    width: 100%;
  }
  .css_1215evx {
    max-width: 100%;
    margin-right: 4px;
    width: 100%;
  }
  .css_1q2wf90 {
    max-width: none;
    position: fixed;
    width: calc(100% - 32px);
    bottom: 16px;
  }

  /* section 3 */
  .css_1lytz60 {
    text-align: left;
  }
  .css_q9ysjp {
    display: none;
  }
  /* section 6 */
  .css-1mmhoqt {
    margin: 155px 0px 0px;
  }
  .css_ushlfk {
    text-align: left;
  }
  .css_1stans {
    text-align: left;
  }
}

@media (min-width: 576px) {
  .css_1fxczvu {
    background-color: rgb(240, 242, 244);
    position: relative;
    height: calc(100vh - 64px);
    overflow: auto;
  }
  .css_qpa126 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .css_qpa126 {
    max-width: 576px;
  }
  .css_dmeihm {
    box-shadow: rgb(0 0 0 / 12%) 0px 8px 32px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
    max-width: 500px;
    min-height: unset;
    margin-top: 48px;
    margin-bottom: 48px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .css_1t5i1n4 {
    padding: 48px 64px;
  }
  .css_dw3q30 {
    min-height: 542px;
  }
  .css_ak8is5 {
    font-size: 1.3043rem;
  }
  .css_bwtxxq {
    font-size: 1.25rem;
    text-align: center;
  }
  .css_1nvizyd {
    margin: 36px 0px 87px 0px;
  }
  .css_1y4j5le {
    bottom: unset;
    left: unset;
    width: unset;
  }
  .css_1215evx {
    max-width: 181px;
    margin-right: unset;
  }
  .css_1215evx {
    max-width: 181px;
    margin-right: unset;
  }
  .css_1q2wf90 {
    max-width: 181px;
    position: unset;
    bottom: unset;
  }

  /* section 3 */
  .css_1lytz60 {
    text-align: center;
  }
  .css_172n4b4 {
    font-size: 1.25rem;
  }
  .css_q9ysjp {
    display: block;
  }

  /* section 4 ka css */
  .css_4tr9mt {
    font-size: 1.25rem;
  }
  .css_wpl0hm {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }

  /* section 5 */
  .css_3o5yhq {
    font-size: 1.25rem;
  }
  .css_1can3ro {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }

  /* section 6  */
  .css_l8px71 {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 28px;
  }
  .css_1mmhoqt {
    margin: 95px 0px 0px;
  }
  .css_ushlfk {
    text-align: center;
  }
  .css_1stans {
    text-align: center;
  }
  /* section 7 */
  .css-_1vi05hx {
    min-height: 542px;
  }
}

@media (min-width: 992px) {
  .css_ak8is5 {
    font-size: 1.5217rem;
  }
  .css_bwtxxq {
    font-size: 1.25rem;
  }
  /* section 3 */
  .css_172n4b4 {
    font-size: 1.25rem;
  }

  /* section 4 ka css */
  .css_4tr9mt {
    font-size: 1.25rem;
  }
  .css_wpl0hm {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  /* section 5 ka css */
  .css_1can3ro {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 50%;
  }
  /* section 6 ka css */
}

@media (min-width: 1200px) {
  .css_ak8is5 {
    font-size: 1.5217rem;
  }
  .css_bwtxxq {
    font-size: 1.25rem;
  }

  /* section 3 */
  .css_172n4b4 {
    font-size: 1.25rem;
  }

  /* section 6  */
  .css_l8px71 {
    font-size: 1.25rem;
  }
}
