.div1{
    width:90%;
    display: grid;
    grid-template-columns: repeat(3,3fr);
    row-gap: 40px;
    column-gap: 80px;
    border: 2px solid black;
    }
    .div0{
        display: grid;
        justify-content:end;
        width: 60%;
        border: 2px solid black;
    }
    .btnDiv{
        text-align: center;
    }