.mainDiv{
    width: 20%;
    margin-top: -160px;
    margin-left: 80%;
    position:absolute;
}
 @media only screen and (max-width: 800px) {
    .mainDiv{
        width: 20%;
        margin-top: -160px;
        margin-left: 80%;
        position:absolute;
    }
    
      }