.slick-arrow.slick-prev,
.slick-arrow.slick-next {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	z-index: 10;
}
.slick-arrow:hover.slick-prev:hover {
	visibility: visible;
}

.slick-prev:before {
	content: "<";
	background-color: black;
	color: tomato;
	font-size: 30px;
	position: absolute;
	left: 40px;
	align-items: center;
	z-index: 10000;
	height: 30px;
	width: 30px;
	border-radius: 50%; 
	padding: 5px;
	display: grid;
	justify-content: center;
}

.slick-prev:after {
	background-color:yellow;
}

.slick-next:before {
	content: ">";
	background-color: black;
	color: tomato;
	font-size: 30px;
	position: absolute;
	right: 40px;
	z-index: 10000;
	height: 30px;
	width: 30px;
	border-radius: 50%; 
	padding: 5px;
	display: grid;
	justify-content: center;
	align-items: center;
}
.slideImg{
    width: 70%;
height: 14rem;
}
.mainDiv{
   display: flex;
    width: 60%;
    justify-content: end;
    align-items: end;
}
