.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner a img{
    width: 180px;
    margin-left: 18rem;
}
.banner section a{
    text-decoration: none;
    color: blue;
   
}
.banner section{
    margin-right: 18rem;
}