.text{
    text-align: center;
    width: 40vw;
    margin: 2rem auto;
}
.text h1{
    font-size: 3rem;
    font-weight: 800;
}
.sbox{
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.b1{
    text-align: center;
    width: 20rem;
}
.btn{
    width: 16rem;
    margin: 4rem auto;
}
.btn button{
background-color: blue;
border: 1px solid blue;
color: white;
padding: 0px 0.9rem;
height: 50px;
border-radius: 5px;
font-weight: 600;
}

@media (max-width: 45rem){
    .text{
        width: 80vw;
    }
    .text h1{
        font-size: 2rem;
    }
    .sbox{
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px) {
    .text{
        width: 80vw;
    }
    
}