.rbox{
    margin: 2rem  auto;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.text{
    text-align: center;
    margin-bottom: 3rem;
}
.text h1{
    font-size: 3rem;
    margin-bottom: -12px;
}