.bg{
    z-index: 12;
    width: 100vw;
    margin-top: -7rem;
    min-height: max-content;
    background-color: #ffdd33;
}
.search  {
    text-align: center;
    padding: 10rem 0;
    width: 80vw;
    margin: 0px auto;
}
.search h1{
    /* margin: 0px auto; */
    font-size: clamp(1rem,1rem + 100vw,3rem);
    /* width: 40vw; */
}
.search p{
    font-size: 18px;
    padding: clamp(0.5rem,0.5rem + 100vw ,1rem);
}

.sbox input{
    width: 50rem;
    height: 40px;
    padding: 0.7rem;
    outline: none;
    border: 1px solid #ffdd33;
    border-radius: 50px;
}
@media (max-width: 45rem) {
    .bg{
        margin-top: -8rem;
    }
    .search{
        width: 80vw;
    }
    .search h1{
        font-size: 2rem;
    }
    .sbox input{
        width: 70vw;
        padding: 0.7rem;
        outline: none;
        border: 1px solid #ffdd33;
        border-radius: 50px;
    }
}