.sec{
    color: #00548f;
    font-size: 1.1rem;
    font-weight: 600;
    padding-right: 19rem;
}
.head{
    text-align: center;
    padding: 0px 2.4rem;
    color: white;
    font-size: 15px;
    background-color: #00548f;
}
.h2{
    text-align: center;
}
.table{
    padding: 1rem 0;
    border-top: 3px solid rgb(230, 230, 230);
    border-bottom: 3px solid rgb(230, 230, 230);
    /* box-shadow: 3px 3px 3px gray; */
}
.man{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.man > *{
    margin-top: 3rem;
}
.bc{
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
}
.calt{
    display: flex;
    align-items: center;
    gap: 30px;
    color: #00548f;
    font-weight: 600;
}
.date{
    color: white;
    width: 20rem;
    height: 10px;
    padding: 1.3rem;
    outline: none;
    background-color: #00548f;
    border: 1px solid #00548f;
    border-radius: 5px;
    

}
.somel{
    padding-left: 5rem;
    
}
.second{
    padding-right: 23rem;
}
.me{
    text-align: center;
}
.ttwo{
    margin-left: 100px;
}
.box{
    width: 800px;
    height: 200px;
    border: 1px solid black;
}
.edi{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calt{
    margin-left: -13rem;
}